<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
    <% @categories.each do  |category|%>
    <li><%= category.title  %></li>
    <div class="card">
     <ul id="<%=category.title%>">
      <% category.tasks.each do |task|  %>
      <% if (task.status == true) %>
        <li id="<%=task.id%>" class="checked">
          <%= check_box_tag :name, 1, true, data: {remote: true, url: task_path(task.id), params: { id: task.id, status: true}.to_param, method: "put" }%>
        <% elsif (task.status == false) %>
          <li id="<%=task.id%>" class="unchecked">
           <%= check_box_tag :name, 1, false, data: {remote: true, url: task_path(task.id), params: { id: task.id, status: true}.to_param, method: "put" }%>
         <%end%>
         <%= task.title %>
         <% unless task.deadline.nil? %>
         , to read: <%= task.deadline.strftime('%D')  %>
         <% end %>

         <%= link_to(task_path(task.id), data: {confirm: "Are you sure?"}, method: "delete", remote: true) do %>
         <i class="fas fa-trash-alt text-danger"></i>
         <% end %>
       </li>
       <% end %>
     </ul>
   </div>
   <% end %>
 </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
    <div class="card col-3">
      <% unless task.image.nil? %>
      <%= image_tag task.image, class: "rounded-circle" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
